/* FounderCard.css */

.founder-card {
  background-color: #007bff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%; /* Ocupa 100% da largura disponível */
  max-width: 680px; /* Largura máxima para evitar que fique muito largo */
  margin: 10px auto; /* Centraliza horizontalmente */
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}

/* Certifique-se de que este arquivo esteja no caminho correto */
.founder-section {
  background-color: #092554; /* Cor de fundo igual ao SCSS */
  background-image: url('../../assets/img/stars.png'); /* Imagem de fundo igual ao SCSS */
  background-size: cover; /* Ajusta a imagem de fundo para cobrir todo o fundo */
  background-repeat: no-repeat; /* Evita repetição da imagem de fundo */
  background-position: center; /* Ajusta a posição da imagem de fundo */
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Garante que ocupe pelo menos 100% da altura da viewport */
  position: relative; /* Necessário para posicionar a linha de conexão */
  padding: 2rem; /* Adiciona um padding para a seção */
  overflow: hidden; /* Garante que nenhum conteúdo ultrapasse os limites da seção */
}



.founder-card:hover {
  transform: translateY(-5px);
}

.founder-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.founder-info {
  margin-bottom: 20px;
}

.founder-info h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #007bff;
}

.founder-info p {
  font-size: 1em;
  color: #555;
}

.founder-info .position {
  font-weight: bold;
  margin-bottom: 10px;
}

.founder-info .description {
  font-size: 0.9em;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-icon,
.resume-button {
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid #0073b1; /* Use a diferente color para cada ícone, se necessário */
  border-radius: 4px;
  text-decoration: none;
  color: #0073b1;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.social-icon:hover,
.resume-button:hover {
  background-color: #0073b1;
  color: #fff;
}
