/* Ajustes gerais para responsividade */
.ticket-section {
  background-color: var(--primary-bg);
  background-image: url('../../assets/img/stars.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--primary-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: var(--padding-section);
  box-sizing: border-box;
}

.bottom-section-text {
  text-align: center;
  color: var(--primary-text);
  margin-bottom: var(--margin-bottom);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--padding-card);
  box-sizing: border-box;
}

.card-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

/* Estilos para os cards */
.package {
  background-color: var(--secondary-bg);
  border-radius: var(--border-radius);
  padding: var(--padding-card);
  color: var(--primary-text);
  box-shadow: var(--shadow);
  text-align: center;
  flex: 1 1 calc(33.333% - 2rem);
  max-width: 300px;
  margin: 1rem;
  box-sizing: border-box;
}

/* Ajustes de tamanho de imagem e textos */
.package img {
  width: 80px;
  margin-bottom: 1rem;
}

.package h2 {
  font-size: 1.875rem;
  margin-bottom: 0.5rem;
}

.package p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.package a {
  display: inline-block;
  text-decoration: none;
  background-color: var(--accent-blue);
  color: var(--primary-text);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  font-weight: bold;
  transition: var(--transition);
}

.package a:hover {
  background-color: var(--accent-blue);
  opacity: 0.8;
}

/* Media query para dispositivos móveis */
@media (max-width: 768px) {
  .container {
    padding: 1rem; /* Garante padding adequado nas laterais */
  }

  .card-content {
    flex-direction: column; /* Muda para coluna em telas menores */
    gap: 1rem;
  }

  .package {
    flex: 1 1 90%; /* O card ocupa 90% da largura da tela no mobile */
    max-width: 100%; /* Remove o limite de largura */
    margin: 0 auto 1rem; /* Centraliza e adiciona margem inferior */
  }

  .package img {
    width: 60px; /* Ajusta o tamanho da imagem em telas menores */
  }

  .package h2 {
    font-size: 1.5rem; /* Ajusta o tamanho da fonte para o título no mobile */
  }

  .package p {
    font-size: 0.875rem; /* Ajusta o tamanho do texto */
  }

  .package a {
    padding: 0.5rem; /* Ajusta o espaçamento do botão */
  }
}
