.breadcrumble {
  position: fixed;
  top: 60px; /* Ajuste a posição para 60px para ficar logo abaixo do Header (altura do header) */
  left: 0;
  width: 100%;
  background: #f8f9fa;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #0077b6;
  border-bottom: 2px solid #0077b6;
  z-index: 999; /* Ajuste o z-index para garantir que o breadcrumb esteja abaixo do header */
  display: flex;
  align-items: center;
  gap: 5px;
}

.breadcrumble a {
  text-decoration: none;
  color: #0077b6;
}

.breadcrumble a:hover {
  text-decoration: underline;
}

.breadcrumble span {
  margin: 0 5px;
}

.navigate-button {
  margin-left: auto;
  padding: 5px 10px;
  border: none;
  background-color: #0077b6;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
}

.navigate-button:hover {
  background-color: #005f87;
}

/* Adiciona um espaçamento para garantir que o conteúdo não sobreponha o breadcrumb */
body {
  padding-top: 100px; /* Ajuste esse valor conforme necessário */
}
